.suit-spade,
.suit-club {
  color: black;
}

.suit-heart,
.suit-diamond {
  color: red;
}

.card {
  box-sizing: border-box;
  position: relative;
  width: 240px;
  height: 320px;
  border: solid 1px #999;
  border-radius: 10px;
  font-family: Arial;
  
  .corner {
    position: absolute;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    &-tl {
      top: 10px;
      left: 10px;
    }
    &-br {
      bottom: 10px;
      right: 10px;
      transform: rotate(180deg);
    }
  }

  .pip {
    position: absolute;
    font-size: 80px; 
    line-height: 80px; 
  }
  
  &.value-A {
    .pip {
      font-size: 144px;
      line-height: 144px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.value-2 {
    .pip:nth-child(1) {
      top: 0%;
      left: 50%;
      transform: translateX(-50%); 
    }
    .pip:nth-child(2) {
      bottom: 0%;
      left: 50%;
      transform: translateX(-50%); 
    }
  }

  &.value-3 {
    .pip:nth-child(1) {
      top: 0%;
      left: 50%;
      transform: translateX(-50%); 
    }
    .pip:nth-child(2) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
    }
    .pip:nth-child(3) {
      bottom: 0%;
      left: 50%;
      transform: translateX(-50%); 
    }
  }

  &.value-4 {
    .pip:nth-child(1) {
      top: 0%;
      left: 15%; 
    }
    .pip:nth-child(2) {
      bottom: 0%;
      left: 15%; 
    }
    .pip:nth-child(3) {
      top: 0%;
      right: 15%; 
    }
    .pip:nth-child(4) {
      bottom: 0%;
      right: 15%; 
    }
  }

  &.value-5 {
    .pip:nth-child(1) {
      top: 0%;
      left: 15%; 
    }
    .pip:nth-child(2) {
      bottom: 0%;
      left: 15%; 
    }
    .pip:nth-child(3) {
      top: 0%;
      right: 15%; 
    }
    .pip:nth-child(4) {
      bottom: 0%;
      right: 15%; 
    }
    .pip:nth-child(5) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
    }
  }

  &.value-6 {
    .pip:nth-child(1) {
      top: 0%;
      left: 15%; 
    }
    .pip:nth-child(2) {
      top: 50%;
      left: 15%; 
      transform: translateY(-50%);
    }
    .pip:nth-child(3) {
      bottom: 0%;
      left: 15%; 
    }
    .pip:nth-child(4) {
      top: 0%;
      right: 15%; 
    }
    .pip:nth-child(5) {
      top: 50%;
      right: 15%;
      transform: translateY(-50%); 
    }
    .pip:nth-child(6) {
      bottom: 0%;
      right: 15%;
    }
  }
}
